<!DOCTYPE html>
<html lang='en'>
{% load staticfiles %}
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <script type='text/javascript' src='{% static "jquery/js/jquery-3.1.0.min.js" %}' ></script>
  <script type='text/javascript' src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
  <script type='text/javascript' src='{% static "js/main.js" %}'></script>
  
  <link type='text/css' href='{% static "bootstrap/css/bootstrap.min.css" %}' rel='stylesheet' media='screen'> 
  <link type='text/css' href='{% static "css/style.css" %}' rel='stylesheet' media='screen'/> 

  <title>Test task</title>

</head>

<body style='font-family:Arial;'>
<div style='height: 100%;'>

  <div class='col-md-2'>
  </div>

  <div class='col-md-8' style='color:black; padding-top: 1%; height: 100%;'>
      
  </div>

  <div class='col-md-2' style='height:100%;'>
  </div>
</div>
</body>
</html>