<!DOCTYPE html>
<html lang='en'>
{% load staticfiles %}
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <script type='text/javascript' src='{% static "jquery/js/jquery-3.1.1.min.js" %}' ></script>
  <script type='text/javascript' src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
  <script type='text/javascript' src='{% static "js/main.js" %}'></script>
  
  <link type='text/css' href='{% static "bootstrap/css/bootstrap.min.css" %}' rel='stylesheet' media='screen'> 

  <title>Test task</title>

</head>

<body style='font-family:Arial; background-color: grey;'>
<div style='height: 100%;'>

  <div class='col-xs-2'>
  </div>

  <div class='col-xs-8' style='color:white; padding-top: 1%; height: 100%;'>
      <p> Wellcome to test page </p>
      <div class='col-xs-6' id='example_list'>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style='color:black;'>
                Select example 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            {% for e in Examples %}
                <li id='{{e.name}}' style='color:black;cursor: pointer; padding-left: 10px;'>{{e.name}}</li>
            {% endfor %}
            </ul>
        </div>
        <br>
      </div>

      <div class='col-xs-6' name='result'>
        <p> Result of example : </p>
        <div>
        For Result here
        </div>
      </div>
  </div>

  <div class='col-xs-2' style='height:100%;'>
  </div>
</div>
</body>
</html>